/* .card {
  margin: 5px;
} */

/* fonts:
font-family: 'Parisienne', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Tajawal', sans-serif;
font-family: 'Scheherazade', serif;
font-family: 'Forum', cursive;*/

#logo{
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  max-height: auto;
}

.container {
  flex-wrap: wrap;
  border: 2.5px solid black;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
}

.title {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

#navbar {
  background-color: lightgrey;
  justify-content: center;

}

li {
  display: inline-block;
  float: none;
}

.nav-link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-decoration: underline;

}

#countdown{
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

#confetti-left {

}

#timer {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  margin-bottom: 60px;

}

#location {
  text-align: center;
}
.nearest-major-city {
  background-color: white;
}

.section-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

#location {
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}
.card{
  padding-top: 10px;
}

.card-text {
  font-size: small;
  /* font-family: 'Tajawal', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.card-body {
  padding: .5rem;
}
.event-title{
  font-weight: bold;
  font-size: medium;
  /* font-family: 'Scheherazade', serif; */
  font-family: 'Montserrat', sans-serif;
}

#footer{
  font-size: small;
  color: black;
  margin: 50px;
  text-align: center;
}
